#news-productwrapper {
    height: 65%;
}

#productswrapper {
    align-items: center;
    margin-left: 0;
}

.rect-1 {
    position: absolute;
    width: 180px;
    height: 295px;
    background: #C4C4C4;
    border-radius: 34px;
}

.pr1 {
    background: url('../img/p-1.png');
}

.pr2 {
    background: url('../img/p-2.png');
}

.pr3 {
    background: url('../img/p-3.png');
}

.pr4 {
    background: url('../img/p-4.png');
}

.pr5 {
    background: url('../img/p-5.png');
}

.rect-2 {
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 180px;
    height: 295px;
    border-radius: 45px;
    margin-left: 24px;
}

.sheet-4 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20vw;
}
.back-btn {
    z-index: 5;
}

@media screen and (max-width: 1350px) {
    .product:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .product:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .product:nth-child(3) {
        display: none;
    }

    .sheet-4 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .product:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .slideright {
        margin-left: 0;
    }
}
